.text-white {
  color: $white;
}

.text-neutral-500 {
  color: $neutral-500;
}

.text-neutral-600 {
  color: $neutral-600;
}

.text-primary-300 {
  color: $primary-300;
}

.text-primary-400 {
  color: $primary-400;
}

.text-danger-300 {
  color: $danger-300;
}

.hover\:text-neutral-600 {
  &:hover {
    color: $neutral-600;
  }
}

.bg-primary-100 {
  background-color: $primary-100;
}

.bg-primary-200 {
  background-color: $primary-200;
}
