.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 8px;
}

.gap-4 {
  gap: 16px;
}

.gap-6 {
  gap: 24px;
}

.gap-9 {
  gap: 36px;
}

.w-100 {
  width: 100%;
}

@include tablet() {
  .md\:flex-col {
    flex-direction: column;
  }
}

@include mobile() {
  .xs\:d-block {
    display: block;
  }

  .xs\:d-none {
    display: none !important;
  }

  .xs\:flex-col {
    flex-direction: column;
  }

  .xs\:flex-reverse {
    flex-direction: row-reverse;
  }

  .xs\:items-start {
    align-items: flex-start;
  }

  .xs\:gap-1 {
    gap: 4px;
  }

  .xs\:gap-4 {
    gap: 16px;
  }
}
