@for $i from 1 through 20 {
  $step: 4px;

  .m-#{$i} {
    margin: $i * $step;
  }
  .mt-#{$i} {
    margin-top: $i * $step;
  }
  .mb-#{$i} {
    margin-bottom: $i * $step;
  }
  .ml-#{$i} {
    margin-left: $i * $step;
  }
  .mr-#{$i} {
    margin-right: $i * $step;
  }
  .mx-#{$i} {
    margin-left: $i * $step;
    margin-right: $i * $step;
  }
  .my-#{$i} {
    margin-top: $i * $step;
    margin-bottom: $i * $step;
  }

  .p-#{$i} {
    padding: $i * $step;
  }
  .pt-#{$i} {
    padding-top: $i * $step;
  }
  .pb-#{$i} {
    padding-bottom: $i * $step;
  }
  .pl-#{$i} {
    padding-left: $i * $step;
  }
  .pr-#{$i} {
    padding-right: $i * $step;
  }
  .px-#{$i} {
    padding-left: $i * $step;
    padding-right: $i * $step;
  }
  .py-#{$i} {
    padding-top: $i * $step;
    padding-bottom: $i * $step;
  }
}
