$min-spacing: 0;
$max-spacing: 20;
$spacing-step: 4px;
$spacing-types: (
  m: margin,
  mt: margin-top,
  mb: margin-bottom,
  ml: margin-left,
  mr: margin-right,
  mx: (
    margin-left,
    margin-right,
  ),
  my: (
    margin-top,
    margin-bottom,
  ),

  p: padding,
  pt: padding-top,
  pb: padding-bottom,
  pl: padding-left,
  pr: padding-right,
  px: (
    padding-left,
    padding-right,
  ),
  py: (
    padding-top,
    padding-bottom,
  ),
);

@mixin generate-spacing($prefix: '') {
  @for $i from $min-spacing through $max-spacing {
    @each $short, $prop in $spacing-types {
      .#{$prefix}#{$short}-#{$i} {
        @if type-of($prop) == 'list' {
          @each $p in $prop {
            #{$p}: $i * $spacing-step;
          }
        } @else {
          #{$prop}: $i * $spacing-step;
        }
      }
    }
  }
}

@include generate-spacing();

@include tablet() {
  @include generate-spacing('md\\:');
}

@include mobile() {
  @include generate-spacing('xs\\:');
}
