$font-sizes: (
  '3\\.5': 14px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  10: 40px,
);

@each $key, $size in $font-sizes {
  .fs-#{$key} {
    font-size: $size;
  }
}

@include tablet() {
  @each $key, $size in $font-sizes {
    .md\:fs-#{$key} {
      font-size: $size;
    }
  }
}

@include mobile() {
  @each $key, $size in $font-sizes {
    .xs\:fs-#{$key} {
      font-size: $size;
    }
  }
}

.fw-medium {
  font-weight: $weight-medium;
}

.text-center {
  text-align: center;
}

@include mobile() {
  .xs\:text-left {
    text-align: left;
  }
}
