$font-sizes: (
  '3\\.5': 14px,
  5: 20px,
  6: 24px,
  7: 28px,
  8: 32px,
  10: 40px,
);

@each $key, $size in $font-sizes {
  .fs-#{$key} {
    font-size: $size;
  }
}

.text-center {
  text-align: center;
}
