.fs-3\.5 {
  font-size: 14px;
}

.fs-5 {
  font-size: 20px;
}

.fs-6 {
  font-size: 24px;
}

.fs-7 {
  font-size: 28px;
}

.fs-10 {
  font-size: 40px;
}

.text-primary-400 {
  color: $primary-400;
}

.text-neutral-600 {
  color: $neutral-600;
}

.text-center {
  text-align: center;
}
