.card {
  position: relative;

  &:hover {
    .card-img {
      opacity: 0.8;
    }
  }

  .card-img {
    width: 100%;
    margin-bottom: 12px;
    transition: opacity 0.3s ease;
  }

  .title {
    margin-bottom: 4px;
  }

  .price {
    font-weight: $weight-medium;
  }

  a:hover {
    color: inherit;
  }
}

@include mobile() {
  .xs\:card-sm {
    .card-img {
      margin-bottom: 8px;
    }

    .title {
      margin-bottom: 0px;
    }
  }
}
