.navbar {
  .pages {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: $weight-medium;

    a {
      padding: 12px;

      &:hover {
        color: $neutral-600;
      }
    }
  }
}
