.collection-main {
  max-width: 660px;

  .bi-check-lg {
    border-radius: $radius-full;

    @include mobile() {
      padding: 6px;
    }
  }

  .notice-block {
    border-radius: $radius-xs;
  }

  .collection-item {
    padding-bottom: 32px;
    border-bottom: 1px solid $neutral-300;
    margin-bottom: 32px;

    @include mobile() {
      margin-bottom: 24px;
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }

    .price {
      align-self: flex-end;

      @include mobile() {
        align-self: flex-start;
      }
    }
  }
}
