.product-main {
  padding-top: 64px;
  padding-bottom: 64px;

  @include tablet() {
    padding-top: 0;
    padding-bottom: 0;
  }

  .showcase {
    max-width: 57.6%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &-item {
      max-width: calc((100% - 8px) / 2);
    }

    @include tablet() {
      max-width: 100%;
      flex-wrap: nowrap;
      gap: 16px;
      overflow-x: auto;

      &-item {
        max-width: 75.5%;
        flex-shrink: 0;
      }
    }

    @include mobile() {
      max-width: calc(100% + 24px);
      margin-left: -12px;
      margin-right: -12px;

      &-item {
        max-width: 100%;
      }
    }
  }

  .original-price {
    color: $neutral-500;
    font-size: 14px;
    text-decoration: line-through;
  }

  .description > *:not(:last-child) {
    margin-bottom: 12px;
  }

  .color-item {
    max-width: 64px;
    color: $neutral-600;
    font-weight: $weight-medium;
    text-align: center;
  }

  .size-item {
    max-width: 160px;
    width: 100%;
    height: 48px;
    font-weight: $weight-medium;
    text-align: center;
    border: 1px solid $neutral-300;
    border-radius: $radius-xs;
    transition: border-color 0.3s ease;

    & > * {
      width: 100%;
      height: 100%;
    }

    &:hover {
      border-color: $neutral-600;
    }

    &.active {
      border-color: $neutral-900;
    }

    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .notice {
    padding: 12px 0;
    border-bottom: 1px solid $neutral-300;

    &-title {
      font-weight: $weight-medium;
      margin-bottom: 4px;
    }

    &-content {
      color: $neutral-600;
    }
  }
}

.related-product-list {
  display: flex;
  gap: 24px;

  .card {
    max-width: calc((100% - 72px) / 4);
  }

  @include tablet() {
    gap: 16px;
    overflow-x: auto;

    .card {
      max-width: 45.5%;
      flex-shrink: 0;
    }
  }

  @include mobile() {
    .card {
      max-width: 85.5%;
    }
  }
}
